{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": "airbnb",

  "rules": {
    "no-console": 0,
    "no-plusplus": 0,
    "indent": ["warn", 4],
    "prefer-destructuring": 0,
    "no-underscore-dangle": 0,
    "max-len": ["warn", 300],
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "no-bitwise": 0,
    "no-restricted-globals": 0,
    "import/prefer-default-export": 0,
    "func-names" : 0
  }
}
